<div class="col-xs-12 panel panel-primary panel-heading">
  <div class="navigate-image-movie-prev" {{action "previous"}}></div>
  <div class="col-xs-4 panel-default">
      <img src="{{movie.poster}}" class="img-responsive">
  </div>
  <div class="col-xs-8 panel panel-info">
    <div class="col-xs-12 panel-body">
      {{#if isNew}}
        <div class="row form-group {{if errors.id 'has-error'}}">
          <div class="col-xs-12 input-group">
            <span class="input-group-addon">Id</span>
            {{input class="form-control" placeholder="Unique identifier of the movie" value=movie.id}}
          </div>
          {{#if errors.id}}
            {{#each errors.id as |error|}}<span class="help-block">{{error.message}}</span>{{/each}}
          {{/if}}
        </div>
        <div class="row form-group {{if errors.title 'has-error'}}">
          <div class="col-xs-12 input-group">
            <span class="input-group-addon">Title</span>
            {{input class="form-control" placeholder="Title of the movie" value=movie.title}}
          </div>
          {{#if errors.title}}
            {{#each errors.title as |error|}}<span class="help-block">{{error.message}}</span>{{/each}}
          {{/if}}
        </div>
        <div class="row form-group {{if errors.description 'has-error'}}">
          <div class="col-xs-12 input-group">
            <span class="input-group-addon">Description</span>
            {{input class="form-control" placeholder="Short description of the movie" value=movie.description}}
          </div>
          {{#if errors.description}}
            {{#each errors.description as |error|}}<span class="help-block">{{error.message}}</span>{{/each}}
          {{/if}}
        </div>
        <div class="row form-group {{if errors.stars 'has-error'}}">
          <div class="col-xs-12 input-group">
            <span class="input-group-addon">Actors</span>
            {{input class="form-control" placeholder="Actors starred in the movie" value=movie.stars}}
          </div>
          {{#if errors.stars}}
            {{#each errors.stars as |error|}}<span class="help-block">{{error.message}}</span>{{/each}}
          {{/if}}
        </div>
        <div class="row form-group {{if errors.director 'has-error'}}">
          <div class="col-xs-12 input-group">
            <span class="input-group-addon">Director</span>
            {{input class="form-control" placeholder="Director of the movie" value=movie.director}}
          </div>
          {{#if errors.director}}
            {{#each errors.director as |error|}}<span class="help-block">{{error.message}}</span>{{/each}}
          {{/if}}
        </div>
        <div class="row form-group {{if errors.releaseYear 'has-error'}}">
          <div class="col-xs-12 input-group">
            <span class="input-group-addon">Year</span>
            {{input class="form-control" placeholder="The year in which movie is/was releasing/released" value=movie.releaseYear}}
          </div>
          {{#if errors.releaseYear}}
            {{#each errors.releaseYear as |error|}}<span class="help-block">{{error.message}}</span>{{/each}}
          {{/if}}
        </div>
        <div class="row form-group {{if errors.rating 'has-error'}}">
          <div class="col-xs-12 input-group">
            <span class="input-group-addon">Rating</span>
            {{input class="form-control" placeholder="User/Critic rating for the movie" value=movie.rating}}
          </div>
          {{#if errors.rating}}
            {{#each errors.rating as |error|}}<span class="help-block">{{error.message}}</span>{{/each}}
          {{/if}}
        </div>
        <div class="row form-group {{if errors.poster 'has-error'}}">
          <div class="col-xs-12 input-group">
            <span class="input-group-addon">Poster URL</span>
            {{input class="form-control" placeholder="Poster link, URL of the poster image" value=movie.poster}}
          </div>
          {{#if errors.poster}}
            {{#each errors.poster as |error|}}<span class="help-block">{{error.message}}</span>{{/each}}
          {{/if}}
        </div>
      {{else}}
        <div class="row">
          <div class="panel panel-info">
            <div class="panel-heading"><span class="h4">{{{movie.title}}}</span>&nbsp;<span class="muted h5">({{movie.releaseYear}})</span></div>
          </div>
        </div>
        {{#if isEditing}}
          <div class="row">
            <div class="col-xs-12 panel panel-info">
                <div class="col-xs-2 panel-body">Tite</div>
                <div class="col-xs-10 panel-body">{{{input class="form-control" value=movie.title}}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 panel panel-info">
                <div class="col-xs-2 panel-body">Released Year</div>
                <div class="col-xs-10 panel-body">{{input class="form-control" value=movie.releaseYear}}</div>
            </div>
          </div>
        {{/if}}
        <div class="row">
          <div class="col-xs-12 panel panel-info">
              <div class="col-xs-2 panel-body">Actors</div>
              {{#if isEditing}}
                <div class="col-xs-10 panel-body">{{{input class="form-control" value=movie.stars}}}</div>
              {{else}}
                <div class="col-xs-10 panel-body">{{{movie.stars}}}</div>
              {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 panel panel-info">
              <div class="col-xs-2 panel-body">Director</div>
              {{#if isEditing}}
                <div class="col-xs-10 panel-body">{{{input class="form-control" value=movie.director}}}</div>
              {{else}}
                <div class="col-xs-10 panel-body">{{{movie.director}}}</div>
              {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 panel panel-info">
              <div class="col-xs-2 panel-body">Plot</div>
              {{#if isEditing}}
                <div class="col-xs-10 panel-body">{{{input class="form-control" value=movie.storyline}}}</div>
              {{else}}
                <div class="col-xs-10 panel-body">{{{movie.storyline}}}</div>
              {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 panel panel-info">
              <div class="col-xs-2 panel-body">Rating</div>
              {{#if isEditing}}
                <div class="col-xs-10 panel-body">{{input class="form-control" value=movie.rating}}</div>
              {{else}}
                <div class="col-xs-10 panel-body">{{movie.rating}}</div>
              {{/if}}
          </div>
        </div>
        {{#if isEditing}}
          <div class="row">
            <div class="col-xs-12 panel panel-info">
                <div class="col-xs-2 panel-body">Poster Url</div>
                <div class="col-xs-10 panel-body">{{input class="form-control" value=movie.poster}}</div>
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-9"></div>
      <div class="col-xs-3 list-group">
        {{#if isNew}}
          <button {{action 'save'}} class="btn btn-primary">save</button>
        {{else if isEditing}}
          <button {{action 'save'}} class="btn btn-primary">save</button>
          <button {{action 'delete'}} class="btn btn-primary">delete</button>
        {{else}}
          <button {{action 'edit'}} class="btn btn-primary">edit</button>
          <button {{action 'delete'}} class="btn btn-primary">delete</button>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="navigate-image-movie-next" {{action "next"}}></div>
</div>
<!-- <div class="col-xs-12">
  <div class="row">
    <div class="col-xs-4 panel">
        <img src="{{movie.poster}}" class="img-responsive">
    </div>
  </div>
</div> -->
